In [4]:
import pandas as pd
from sqlalchemy import create_engine

# Consultas de Metadatos: PostGresSQL

In [ ]:
usuario = "userPSQL"
contraseña = "passPSQL"
host = "localhost"  
puerto = "5432"
base_datos = "postgres"

engine = create_engine(f"postgresql+psycopg2://{usuario}:{contraseña}@{host}:{puerto}/{base_datos}")

Devolver toda la informmación de todas las asignaturas

In [6]:
query = """SELECT * FROM ASIGNATURAS"""
df = pd.read_sql(query, engine)
df.head()

,id,nombre,numero_creditos,agno_academico,semestre,idioma
0,615001034,Robótica,3,Tercero curso,Sexto semestre,Castellano
1,615001001,álgebra Lineal,6,Primer curso,Primer semestre,Castellano
2,615001033,Aprendizaje Automático II,6,Tercero curso,Sexto semestre,Castellano
3,615001004,Lógica para Inteligencia Artificial,6,Primer curso,Primer semestre,Castellano
4,615001003,Matemática Discreta I,6,Primer curso,Primer semestre,Castellano

Devolver todos los profesores que imparten la asignatura Robótica

In [ ]:
query = """
       SELECT P.* 
       FROM PROFESORES P 
       JOIN PROFESORESASIGNATURAS AP ON AP.ASIGNATURA_ID = P.ASIGNATURA_ID
       JOIN ASIGNATURAS A ON A.ID = AP.ASIGNATURA_ID
       WHERE A.NOMBRE LIKE '%Robótica%';
    """
df = pd.read_sql(query, engine)
df.head()

Devolver los profesores que impartan más de 3 asignaturas

In [ ]:
query = """
       SELECT P.NOMBRE, COUNT(A.ID) 
       FROM PROFESORES P 
       JOIN PROFESORESASIGNATURAS AP ON AP.ASIGNATURA_ID = P.ASIGNATURA_ID
       JOIN ASIGNATURAS A ON A.ID = AP.ASIGNATURA_ID
       GROUP BY P.ID
       HAVING COUNT(A.ID);
    """
df = pd.read_sql(query, engine)
df.head()

Devolver todas el profesor que imparte el mayor numero de asignaturas de la titulación

In [ ]:
query = """
        SELECT P.NOMBRE,COUNT(DISTINCT A.ID) AS NUM_ASIGNATURAS
        FROM PROFESORES P
        JOIN ASIGNATURASPROFESORES AP ON AP.PROFESOR_ID = P.ID
        JOIN ASIGNATURAS A ON A.ID = AP.ASIGNATURA_ID
        JOIN TITULACIONESASIGNATURAS TA ON TA.ASIGNATURA_ID = A.ID
        JOIN TITULACIONES T ON T.ID = TA.TITULACION_ID
        WHERE T.NOMBRE LIKE :nombre_titulacion
        GROUP BY P.ID, P.NOMBRE
        ORDER BY NUM_ASIGNATURAS DESC
        LIMIT 1;
    """
df = pd.read_sql(query, engine)
df.head()